[user]
    name = Dmitry Rozhkov
    email = dmitry.rozhkov@jolla.com

[diff]
    color = auto

[pager]
    color = true

[status]
    color = auto

[apply]
    whitespace = strip
[credential]
	helper = cache
[color]
	ui = auto

[alias]
    hgp = "show -M -C --binary --format=\"# HG changeset patch%n# User %an <%ae>%n%B\" -U8"
[grep]
    lineNumber = true
